<navbar></navbar>
​
​
<div class="container text-center">
    <h1>Choose Your Reward</h1>
  <div class="row">
    <div class="col-md-6">
​
​
    <div style="width: 25%;">
      <div class="card card-block text-xs-center rewardCard">
        <h4 class="card-title">No Reward</h4>
        <h4 class="card-title">Just keep working hard!</h4>
        <input type="text" ng-model="amount" ng-init="amount=1.00"/>
        <a href="#" ng-click="submit(amount)" class="btn btn-primary" style="background-color: #9B30FF;">Catalyze</a>
      </div>
    </div>
​
    <div style="width: 25%;">
          <div class="card card-block text-xs-center rewardCard"
               ng-repeat="reward in rewards">
            <h4 class="card-title">${{reward.amount}}</h4>
            <h4 class="card-title">{{reward.title}}</h4>
            <p class="card-reward">{{reward.description}}</p>
             <a href="#" ng-click="submit(reward.amount)" class="btn btn-primary" style="background-color: #9B30FF;">Choose this Reward</a>
          </div>
    </div>

<!--     <div style="width: 25%;">
      <div class="card card-block text-xs-center rewardCard" ng-repeat="reward in rewards">
        <h4 class="card-title">${{reward.amount}} per month</h4>
        <h4 class="card-title">{{reward.title}}</h4>
        <p class="card-reward">{{reward.description}}</p>
       
      </div>
    </div> -->
    </div>
​
    <div class="col-md-6">
​
​
    <div class="card">
        <div class="profile">
            <img src="{{artist.picUrl}}">
        </div>
        <div class="name"><p>{{artist.name}}</p></div><br>
        <div class="numbers">
        <div class="">
          <p>
            {{artist.supporters}} Catalysts
          </p>
          <p>
            {{artist.earned}} per month
          </p>
        </div>
        <div class="divider"></div>
        </div>
        <a href="/artist/{{artistId}}" style="background-color: #9B30FF;" class="btn btn-primary">Back to Profile</a>
        <!-- <a href="#" class="btn btn-follow">Follow</a> -->
    </div>
  </div>
  </div>
</div>