<div class="">
  <h2>Choose Your Reward</h2>
  <div class="">
    <label>
      <span>No Reward</span>
      <input type="radio" name="name" value="">
    </label>
  </div>
  <div class="">
    <input type="radio" name="name" value="">
  </div>
  <div class="">
    <input type="radio" name="name" value="">
  </div>
  <div class="">
    <input type="radio" name="name" value="">
  </div>

</div>






  <span class="payment-errors"></span>
  <div class="form-row">
    <label>
      <span>Amount</span>
      $<input type="text" ng-model="amount"/>
    </label>
  </div>

  <button class="stripe-connect" ng-click="submit()"><span>Submit Payment</span></button>
  <!-- <button type="button" ng-click="getRewards()">Get Rewards</button> -->
