
/*CONTENT UPLOAD STYLES*/
/*
.container{
  width: 600px;
}*/

.wrapperBig {
  width:600px;
  height:590px;
}
.wrapperSmall {
  width:900px;
  height:390px;
}

#uploader {
  text-align: center;
  margin: 0 auto;
}
.upload-header{
  margin-bottom: 30px;
}

/*.drop-box {
  background: #F8F8F8;
  border: 2px dashed #D2D2D2;
  width: 200px;
  height: 100px;
  text-align: center;
  padding: 25px;
  margin: 0 auto;
}*/

.drag-drop {
  width: 326px;
  height: 164px;
  text-align: center;
  vertical-align: middle;
  border: 2px dashed #ddd;
  margin: 0 auto;
}
/*.drag-drop:-moz-drag-over {
  border: 3px dashed #000;
}*/
.drag-text {
  margin-top: 65px;
  color: #aaa;
}

#preview, #status {
  margin-top: 10px;
}

.preview {
  width: 300px;
  height: 300px;
  margin: auto;
}

.preview img {
  max-width: 75%;
  height: auto;
}

.signup-card {
  margin-top: 175px;
}

#card-img-top {
  max-width: 100%;
  max-height: 100%;
}

.card-block button {
  margin-left: 75px;
  margin-top: 6px;
}
/*.preview {
  text-align: center;
  width: 300px;
  margin: 0 auto;
}

.preview img {
  width: 200px;
  height: 200px;
  margin-top: 25px;
  border-radius: 50%;
}

.continue-btn {
  margin-top: 20px;
} */

.upload_button {
    display: inline-block;
    position: relative;
    font-weight: bold;
    font-size: 14px;
    background-color: rgb(15, 97, 172);
    color: #fff;
    padding: 5px 0;
    border: 1px solid #000;
    border-radius: 4px;
    width: 100px;
    height: 30px;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    margin-top: 25px;
}



/*END CONTENT UPLOAD STYLES*/
