<div class="container">
  <div class="row">

  <div class="col-md-3 footer-columns">
    <a href="/">
      <img class="footer-img" src="assets/logo.png" alt="" />
    </a>
    <div class="copyright">
      © 2015 Culturalyst
    </div>
  </div>
  <div class="col-md-3 footer-columns">
    <div class="">
      <span><a href="#">About</a></span>
    </div>
    <div class="">
      <a href="/artistSignupInfo">Become a Creative</a>
    </div>
  </div>
  <div class="col-md-3 footer-columns">
    <span>Press</span>
    <a href="#"></a>
    <a href="#"></a>
  </div>
  <div class="col-md-3 footer-columns">
    <span>Social Media</span>
    <div class="social-media">
      <a href="https://twitter.com/culturalyst" target="_blank"><i class="fa fa-twitter"></i></a>
      <a href="#"><i class="fa fa-facebook"></i></a>
      <a href="#"><i class="fa fa-instagram"></i></a>
      <a href="https://github.com/OS0/culturalyst-yeoman" target="_blank"><i class="fa fa-github"></i></a>
    </div>
  </div>
  </div>
</div>
