  <div class="splitter"></div>
  <ul>
    <ul>
      <li>
        <div class="text">
          <h4>About</h4>
          <div>Learn more about how you can support your city's artists and cultural identity.
            <a href="/about">Read more</a></div>
        </div>
      </li>
      <li>
        <div class="text">
          <h4>Be A Creative</h4>
          <div>Reach out to your fans by sharing content and offering rewards to supporters!
            <a href="/artistSignupInfo">Read more</a></div>
        </div>
      </li>
      <li>
        <div class="text">
          <h4>Press</h4>
          <div class="press">
            <a href="http://www.nola.com/business/index.ssf/2015/12/culturalyst_toured_win_digital.html" target="_blank">nola.com</a><br>
            <a href="http://siliconbayounews.com/2015/12/15/two-startups-win-inaugural-digital-mediax-accelerator-in-new-orleans/" target="_blank">siliconbayou.com</a>
        </div>
      </li>
    </ul>

  </ul>

  <div class="bar">
        <img class="footer-img" src="assets/logo.png" alt="" />
    <div class="bar-wrap">
      <ul class="links"> <!-- footer menu -->
        <li><a href="/">Home</a></li>
        <li><a href="#">License</a></li>
        <li><a href="#">Contact Us</a></li>
        <li><a href="#">Advertise</a></li>
        <li><a href="/about">About</a></li>
      </ul>

      <div class="social-footer">
        <a href="#" class="fb">
          <span data-icon="f" class="icon"></span>
          <span class="info">
            <span class="follow">Become a fan Facebook</span>
            <span class="num">9,999</span>
          </span>
        </a>

        <a href="http://twitter.com/culturalyst" target="_blank" class="tw">
          <span data-icon="T" class="icon"></span>
          <span class="info">
            <span class="follow">Follow us on Twitter</span>
            <span class="num">9,999</span>
          </a>
          <a href="#" class="instagram">
                <span class="icon"><i class="fa fa-instagram"></i></span>
                <span class="info">
                    <span class="follow">Follow us on Instagram</span>
                    <span class="num">9,999</span>
                </span>
            </a>


        </div>
        <div class="clear"></div>
        <div class="copyright">&copy; 2015 CULTURALYST</div>
      </div>
    </div>
