footer.footer {
  text-align: center;
  padding: 30px 0;
  margin-top: 70px;
  border-top: 1px solid #E5E5E5;
}

.footer-img {
  width: 100px;
}
.footer-columns {
  width: 200px;
}

.social-media a i {
  font-size: 25px;
  color: #ccc;
}

.social-media a i:hover {
  color: #888;
}
