<!-- <form action="/register" method="POST" id="payment-form"> -->

  <div class="form-row">
    <label>
      <span>Name</span>
      <input ng-model="name" type="text"/>
    </label>
  </div>

  <div class="form-row">
    <label>
      <span>Address</span>
      <input ng-model="address" type="text"/>
    </label>
  </div>

  <div class="form-row">
    <label>
      <span>City</span>
      <input ng-model="city" type="text"/>
    </label>
  </div>
  <div class="form-row">
    <label>
      <span>State</span>
      <input ng-model="state" type="text"/>
    </label>
  </div>
  <div class="form-row">
    <label>
      <span>Zip</span>
      <input ng-model="zip" type="text"/>
    </label>
  </div>
  <div class="form-row">
    <label>
      <span>Country</span>
      <input ng-model="country" type="text"/>
    </label>
  </div>
  <div class="form-row">
    <label>
      <span>Last Four of SSN</span>
      <input ng-model="ssn" type="text"/>
    </label>
  </div>
  <div class="form-row">
    <label>
      <span>Email</span>
      <input ng-model="email" type="text"/>
    </label>
  </div>
  <div class="form-row">
    <label>
      <span>DOB</span>
      <input ng-model="dob" type="text"/>
    </label>
  </div>
  <div class="form-row">
    <label>
      <span>Bank Routing Number</span>
      <input ng-model="route" type="text"/>
    </label>
  </div>
  <div class="form-row">
    <label>
      <span>Bank Account Number</span>
      <input ng-model="acct" type="text"/>
    </label>
  </div>



  <button ng-click="register()">Register Your Account</button>
<!-- </form> -->
