<form class="form-basic" ng-submit="register()" id="payment-form">
  <h4>Register Your Bank Account and Start Getting Paid!</h4><br>
  <div class="form-row">
    <label>
      <span>Individual or Company?</span>
      <select class="" ng-model="type">
        <option value="individual">Individual</option>
        <option value="company">Company</option>
      </select>
    </label>
  </div>
  <div class="form-row">
    <label>
      <span>First Name</span>
      <input name="first_name" ng-model="first" type="text" required/>
    </label>
    <label>
      <span>Last Name</span>
      <input ng-model="last" type="text" required/>
    </label>
  </div>

  <div class="form-row">
    <label>
      <span>Address</span>
      <input ng-model="address" type="text"/>
    </label>
  </div>

  <div class="form-row">
    <label>
      <span>City</span>
      <input ng-model="city" type="text"/>
    </label>
  </div>
  <div class="form-row">
    <label>
      <span>State</span>
      <input ng-model="state" type="text"/>
    </label>
  </div>
  <div class="form-row">
    <label>
      <span>Zip</span>
      <input ng-model="zip" type="text"/>
    </label>
  </div>
  <div class="form-row">
    <label>
      <span>Country</span>
      <input ng-model="country" type="text"/>
    </label>
  </div>
  <div class="form-row">
    <label>
      <span>Last Four of SSN</span>
      <input ng-model="ssn" type="text" required/>
    </label>
  </div>
  <div class="form-row">
    <label>
      <span>Email</span>
      <input ng-model="email" type="text" required/>
    </label>
  </div>

  <div class="form-row">
    <label>
    <span>Birth Month</span>
      <input ng-model="month" type="text" maxlength="2" size="5" required/>
    </label>
  </div>
  <div class="form-row">
    <label>
    <span>Birth Day</span>
      <input ng-model="day" type="text" maxlength="2" size="5" required/>
    </label>
  </div>
  <div class="form-row">
    <label>
    <span>Birth Year</span>
      <input ng-model="year" type="text" maxlength="4" size="5" required/>
    </label>
  </div>
  <div class="form-row">
    <label>
      <span>Bank Routing Number</span>
      <input ng-model="route" type="text" required/>
    </label>
  </div>
  <div class="form-row">
    <label>
      <span>Bank Account Number</span>
      <input ng-model="acct" type="text" required/>
    </label>
  </div>
  <!-- <input type="submit" name="name" value="submit"> -->
  <button class="btn btn-default" ng-click="register()" type="submit"><span>Connect Your Account</span></button><br>
  <span class="terms">By connecting your account, you agree to our <a href="#">Terms of Service</a> and the <a href="https://stripe.com/connect/account-terms">Stripe Connected Account Agreement</a></span>
</form>
