.navbar-text {
  margin-left: 15px;
}

.navbar.navbar-default.navbar-static-top.ng-scope {
    margin-bottom: 0;
}

.about {
  float: left;
  max-width: 70rem;
  margin-right: 3rem;
}
@import url(http://fonts.googleapis.com/css?family=Raleway:400,800|Roboto+Slab:300);

body {
  font-family: Roboto Slab;
}
.card {
  margin: 2rem auto;
  background-color: white;
  box-shadow: 1px 1px 10px #999; 
  width: 385px;
  margin:10px;
  padding:10px;
 	content: center;
 	border-radius: 5px;
}

.wrapper { 
        background:#EFEFEF; 
        box-shadow: 1px 1px 10px #999; 
        margin: auto; 
        text-align: center; 
        position: relative;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        margin-bottom: 10px !important;
        width: 1250px;
        height:490px;
        padding-top: 5px;
        overflow-x:scroll;
        overflow-y:hidden;
  			padding-left:10px;
  			padding-right:15px;

    }
.scrolls { 
	overflow-x: scroll;
 	overflow-y:hidden;*/
  height: 400px;
  white-space:nowrap
} 

.card-title {
  margin-bottom: 1rem;
  font-family: Raleway;
  font-weight: 900;
  padding:5px; 
}
.card-text{
	width:50px;
	word-wrap: initial;
}
.card > img{
	width:346px;
}


*{margin: 0;padding: 0;}




.profile {
  padding: 0;
  background-color: #eee;
  height: 300px;
}




