<navbar></navbar>

<div>
  <h1 align="center">Catalyst Profile</h1><br>

  <div align="center">
    <h2>Welcome, {{vm.currentUser()().name}}!</h2><br>
    We're glad you're here. We just need a bit more information to get you set
    up.
  </div>
  <br><br>

  <!--Code for rendering images-->
  <!--<div>
    <div class="container" align="center">
      <div class="user">
        <img class="img-circle img-responsive"
             src={{vm.currentUser()().profileImageUrl}}/>
      </div>
    </div>

    &lt;!&ndash;Mykia's html for rendering an image&ndash;&gt;
    <div id="uploader">
      <h3 class='upload-header'>Add Your Profile and Cover Photos</h3>
      <div ngf-drop ngf-select ng-model="files"
           class="drop-box profile-box form-group"
           ngf-drag-over-class="'dragover'" ngf-multiple="true"
           ngf-allow-dir="true" accept="image/*,application/pdf"
           ngf-pattern="'image/*,application/pdf'">
        Click to add your photo dordrop it here
      </div>
      <div class="preview">
        <div class="img-view">
          <img ngf-src="!files[0].$error && files[0]">
        </div>
      </div>
      <div ngf-no-file-drop>File Drag/Drop is not supported for this browser
      </div>
      <button class="btn btn-default btn-md continue-btn" type="button"
              name="button"> Save & Continue
      </button>
    </div>
  </div>-->

  <br><br><br>
  <form class="form" name="form" ng-submit="vm.userDetail(form)" novalidate>

    <!--Name-->
    <div class="form-group">
      <label for="firstName" class="col-sm-3 control-label">Full Name</label>
      <div class="col-sm-9">
        <input type="text" id="firstName" class="form-control"
               value="{{vm.currentUser()().name}}">
      </div>
    </div>

    <!--Email-->
    <div class="form-group">
      <label for="email" class="col-sm-3 control-label">Email</label>
      <div class="col-sm-9">
        <input type="email" id="email" class="form-control"
               value="{{vm.currentUser()().email}}">
      </div>
    </div>

    <!--Location-->
    <div class="form-group">
      <label for="location" class="col-sm-3 control-label">Location</label>
      <div class="col-sm-9">
        <input type="text" id="location" placeholder="City, State"
               class="form-control" ng-model="vm.user.location">
      </div>
    </div>

    <!--Birthday-->
    <div class="form-group">
      <label class="col-sm-3 control-label">Birthday</label>
      <div class="col-sm-9">
        <input type="date" id="birthDate" class="form-control"
               ng-model="vm.user.birthday">
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-9 col-sm-offset-3">
        <div class="checkbox">
          <label>
            <input type="checkbox">I accept <a href="#">terms and conditions of
            Culturalyst</a>
          </label>
        </div>
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-9 col-sm-offset-3">
        <button type="submit" class="btn btn-primary btn-block"
                ng-click="vm.userDetail()" href='../main/main.html'>
          Save Profile
        </button>
      </div>
    </div>

  </form>
</div>

<footer></footer>
