<navbar></navbar>
<div ng-controller="DiscoveryCtrl">
  



<!--   <div class="jumbotron text-center artistBack" style="background-image:url('/assets/img/cover_photo_7.png');" ng-init="getArtistContent()"> -->

		<div id="page-content-wrapper" style="background-image:url('/assets/img/cover_photo_9.png'); background-size:cover;">
      
			<div class="container-fluid xyz">

				<div class="row" align="center">
          
					<div class="col-lg-12">
            

                <div class="bannerFont">
                  <h1 align="center" style="font-family: 'Abel' !important;">Dig Deep into Your Culture</h1>
                        <p class="lead text-muted" align="center">Search by Medium and Genre and filter to your heart's desire</p>
                </div>

                  <div class="medium-filters" align="center">
                    <div class="row form-inline" align="center">
                      <div class="col-xs-6">
                        <select class="form-control-medium" ng-model="medium" ng-options="medium as medium.name for medium in mediaList" ng-change="loadSubMediums(medium); getArtists()" ng-selected="medium">
                          <option value="" selected disabled>Medium</option>        
                        </select>
                      </div>
                      <div class="col-xs-6">
                        <select class="form-control-medium" ng-model="selectedSubmedium" ng-options="submedium for submedium in submedia" ng-change="getArtists()" ng-change="getFaces()" style="width:400px">
                          <option value="" selected disabled>Genre</option>        
                        </select>
                      </div>
                    </div>
                  </div>

    




                  <button align="left" data-toggle="collapse" class="btn btn-info" data-target="#filter-group">Filters</button>
                  <div id="filter-group" class="collapse" align="center">
                      <div class="col-xs-3">
                        <select class="form-control" ng-model="selectedAge" ng-options="age as age.age for age in ageList">
                          <option value="" selected disabled>Age</label>
                        </select>
                      </div>

                      <div class="col-xs-3">
                        <select class="form-control" ng-model="selectedNative" ng-options="natives as natives.natives for natives in nativeList">
                          <option value="" selected disabled>Native</label>
                        </select>
                      </div>

                      <div class="col-xs-3">
                        <select class="form-control" ng-model="selectedGender" ng-options="gender as gender.gender for gender in genderList">
                          <option value="" selected disabled>Gender</label>
                        </select>
                      </div>

                      <div class="col-xs-3">
                        <select class="form-control" ng-model="selectedExperience" ng-options="experience as experience.experience for experience in expList">
                          <option value="" selected disabled>Experience</label>
                        </select>
                      </div>
                  </div>  

                  


<!--       			<div class="container" align="center">
      				<div class="row">
      					<div id="custom-search-input">
      						<div class="input-group col-md-12">
      							<input type="text" class="search-query form-control" placeholder="Search" ng-model="searchText">
      						</div>
      					</div>
      				</div>
      			</div> -->
        		
            <div class ="container">
              <div class="row">
                  <!-- for $scope to work we would need a controller -->
                  <div class="album text-muted">
                    <a ng-repeat="artist in artists | filter:searchText | filter:{$:medium.name} | filter:{$:selectedAge.age} | filter:{$:selectedOrg.org} | filter:{$:selectedNative.natives} | filter:{$:selectedGender.gender} | filter:{$:selectedExperience.experience}" href="artist/{{artist._id}}">
      			          <div class="card card-main">
      			            <img class="card-img-bottom card-cover" src="{{artist.img}}"/>
      			            <div id="profile-name">
      			                <img class="profilePic profile-main" ng-src="{{artist.picUrl}}"/>
      			                <div class="profileName">
      			                  <h3 class='name-main'> {{artist.name}}</h3>
      			                  <p class='medium-main'> {{artist.medium}} | {{artist.submedium}}</p>
      			                </div>
      			            </div>
      			          </div>
                    </a>
                  </div>
              </div>
            </div>

        </div>
      </div>
    </div>
                    
  </div>
</div>

<!-- <footer></footer> -->
