.profile {
  padding: 0;
  background-color: #eee;
  height: 300px;
}

.artistNav{
  height:180px;
  width: 100%;
  background-color: white;
  clear: both;
  padding: 7px 0px;
  display: block;
  position:fixed;
  padding-top: 50px;
  z-index: 999;
}

/*.smaller{
  height:100px;
  background-color: black;
}*/

.profilePic .signature .socialButtons {
    float: left;
    margin: 0px;
    width: 33.33%;
}

.mediaBar{
  height:15px;
  background-color: #CDE8DF;
}

.socials{
  padding-top: 15px;
  font-size: 20px;
}
.postBod {
  background-color: white;
  margin-top: 10px;
  margin-bottom: 10px;
}



#artist-jumbo {
    color: white;
    height:750px !important;
}

.profileImg {
  height: 200px;
  border-radius:50%;
  border:5px solid white;
  padding:0px;
  vertical-align: center;
}

.postImg {
  margin-right: 10px;
}

.navbar {
  margin-bottom: 0px;
}

.feedNearned {
  margin-top: 30px;
  margin-left: -40px;
}

.earned {
  border: 1px solid rgba(0, 0, 0, .2);
  border-radius: 6px;
  width: 30%;
}

.modal-dialog {
  margin-top: 0px;
  width: 530px !important;
}

.modal-content {
  box-shadow: 1px 1px 10px #999;
  position: absolute !important;
  right: 129px;
  width:500px;
}
.artistModal{
  margin: 20px 0px;
  background-color: white;
}


.post{
  height:300px;
}

.contentNav{
  height:180px;
  width: 100%;
  background-color: white;
  clear: both;
  padding: 7px 0px;
  display: block;
  position:fixed;
  padding-top: 50px;
}

.uiView{
  margin-left: 20px;
}

a{
  color: inherit;
}

.rewardCard{
  width:318px !important;
  background-color: #eeeeee !important;
}

.artistNav.shrink {
  min-height: 35px;
}

.catalyzeBtn{
  background-color:#9B30FF;
  color:white;
  font-size: 20px;
  width:200px;
  height:55px;
}
.profilePicSm {
  height:40px !important;
  width: 40px !important;
  border-radius: 50% !important;
}
