<navbar></navbar>

<div>
  <!--<form ng-submit="vm.register(InfoForm)">-->
  <form>
    <!--Bio-->
    <div class="form-group" style="width: 80%; margin: 5% 10% 0% 10%">
      <label for="bio">Biography</label>
      <textarea class="form-control" rows="3" value="{{currentUser.bio}}"
                ng-model="bio">
      </textarea>
    </div>
    <!--Media/Medium-->
    <div class="form-group" style="width: 80%; margin: 5% 10% 0% 10%">

      <label for="medium">In what medium do you create?</label>
      <!--Medium-->
      <select ng-model="medium"
              ng-options="medium as medium.name for medium in mediaList"
              ng-change="vm.loadSubMediums(medium)"
              ng-selected="medium">
      </select>

      <!--subMedia-->
      <select ng-model="selectedSubmedium"
              ng-options="submedium for submedium in submedia">
      </select>
      <br></br>

            <!--Age-->
      <div class="form-group">
      <label for="age">How old are you?</label>
        <div class="radio">
          <label>
            <input type="radio" name="age" id="age-18" value="age-18" ng-model="age">
            -18
          </label>
        </div>
        <div class="radio">
          <label>
            <input type="radio" name="age" id="age18-24" value="age18-24" ng-model="age" >
            18-24
          </label>
        </div>
        <div class="radio">
          <label>
            <input type="radio" name="age" id="age25-44" value="age25-44" ng-model="age">
            25-44
          </label>
        </div>
        <div class="radio">
          <label>
            <input type="radio" name="age" id="age45-64" value="age45-64" ng-model="age">
            45-64
          </label>
        </div>
        <div class="radio">
          <label>
            <input type="radio" name="age" id="age65+" value="age65+" ng-model="age">
            65+
          </label>
        </div>
      </div>

      <!--Native-->
      <div class="form-group">
        <label for="native">Are You Native to this City?</label>
        <div class="radio">
          <label>
            <input type="radio" name="native" id="isNative" value="true" ng-model="natives">
            Yes
          </label>
        </div>
        <div class="radio">
          <label>
            <input type="radio" name="native" id="notNative" value="false" ng-model="natives">
            No
          </label>
        </div>
      </div>

      <!--Organization-->
      <div class="form-group">
        <label for="org">Are You An Organization?</label>
        <div class="radio">
          <label>
            <input type="radio" name="org" id="isOrg" value="true" ng-model="org">
            Yes
          </label>
        </div>
        <div class="radio">
          <label>
            <input type="radio" name="org" id="notOrg" value="false" ng-model="org">
            No
          </label>
        </div>
      </div>

      <!--Experience-->
      <div class="form-group">
      <label for="experience">Experience</label>
        <select class="form-control" ng-model="experience">
          <option>Beginner</option>
          <option>Intermediate</option>
          <option>Professional</option>
          <option>Hobbyist</option>
      </select>
      </div>
    </div>

    <p class="help-block"> {{ vm.message }} </p>
    <button type="submit" class="btn btn-primary btn-block" style="margin: 7% 35%"
            ng-click="vm.register()">
      Save
    </button>
​
    <!--Include links to you Social Media accounts here-->
    <div >
      <div>
        <h4>Social Media Links</h4>
      </div>
      <!--Social Media Handles-->
      <div style="margin-left: 80px">
        <!--Facebook-->
        <div class="col-md-3" style="margin: 10px 10px 10px 10px">
          <p>Link to your Facebook</p>
          <input type="text" placeholder="FaceBook" ng-model="faceBookUrl">
        </div>
        <!--Instagram-->
        <div class="col-md-3" style="margin: 10px 10px 10px 10px">
          <p>Link to your Instagram</p>
          <input type="text" placeholder="Instagram" ng-model="instagramUrl">
        </div>
        <!--Twitter-->
        <div class="col-md-3" style="margin: 10px 10px 10px 10px">
          <p>Link to your Twitter</p>
          <input type="text" placeholder="Twitter" ng-model="twitterUrl">
        </div>
        <!--Etsy-->
        <div class="col-md-3" style="margin: 10px 10px 10px 10px">
          <p>Link to your Etsy</p>
          <input type="text" placeholder="Etsy" ng-model="etsyUrl">
        </div>
        <!--SoundCloud-->
        <div class="col-md-3" style="margin: 10px 10px 10px 10px">
          <p>Link to your SoundCloud</p>
          <input type="text" placeholder="SoundCloud" ng-model="soundCloudUrl">
        </div>
        <!--Behance-->
        <div class="col-md-3" style="margin: 10px 10px 10px 10px">
          <p>Link to your Behance</p>
          <input type="text" placeholder="Behance" ng-model="behanceUrl">
        </div>
      </div>
    </div>
    <br></br>
    <p class="help-block"> {{ vm.message }} </p>
    <button type="submit" class="btn btn-primary btn-block" style="margin: 15% 35%"
            ng-click="vm.register()">
      Save
    </button>

  </form>
</div>
<footer></footer>
